[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "e3dcset CLI"

[[workflows.workflow]]
name = "e3dcset CLI"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./e3dcset"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
