#############################################################
# Konfigurationsdatei fuer das Kommandozeilen-Tool 'e3dcset'
# Zur Steuerung des S10 Hauskraftwerks von E3DC 
#############################################################


### Speicher kann mit diesem Wert in Watt Be- und Entladen werden

MAX_LEISTUNG = 3000 


### Beim manuellen Laden des Speichers mindestens 100Wh (0,1kWh) laden 

MIN_LADUNGSMENGE = 100 


### Beim manuellen Laden des Speichers maximal 8000Wh (8kWh) laden

MAX_LADUNGSMENGE = 8000 


### IP-Adresse / Port  unter der das Hauskraftwerk erreichbar ist

server_ip = 192.168.xxx.yyy
server_port = 5033


### Benutername/Kennwort des E3DC Online Accounts

e3dc_user = xxx@xxxxx.xxx
e3dc_password = xxxxxxxx


### Kennwort fuer den Zugriff per RSCP Protokoll
### Dies muss zuvor am S10 festgelegt werden

aes_password = xxxxxxxx


### Zur Fehlersuche kann das Tool hier auf 'geschwaetzig' umgestellt werden
###    0 = Keine zusaetzlichen Ausgaben auf der Konsole ausgeben
###    1 = Zusaetzlichen Ausgaben auf der Konsole ausgeben

debug = 0
